*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'NS';
    font-weight: 600;
}
a{
    text-decoration: none;
    font-weight: 400;
}
li{
    list-style: none;
}
header{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.6);
   img{
    height: 30px;
   }
   li{

    &.active{
        a{
            color: #7FAC34 !important; 
        }
    }
    
    i{
        color: #7FAC34;
        font-size: 40px;
        margin-bottom: 0;
    }
    a{
        color: black;
        font-size: 15px;
        // padding: 30px 30px !important;
        font-weight: 500;
        

        &:hover{
            color: #7FAC34 !important;
        }
    }
   }
    #event{
        background-color: #7FAC34;
        font-size: 15px;
    }
    button{
        font-family: 'NS';
        border: 0;
        background-color: #7FAC34;

        
    }
     i{
        font-size: 20px;
       color: white;
       line-height: 0;
    }
}
#content{
    padding-top:120px;
    .swiper-slide{
        min-height:370px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    
.bg1{
   
    background-image: url(../img/slide1.jpg);
    
 
}
.bg2{
  
    background-image: url(../img/slide2.jpg);
    
}
.bg3{
    
    background-image: url(../img/slide3.jpg);
   
}
.bg4{
   
    background-image: url(../img/slide4.jpg);
   
}
}




#ft{
    background-color: #F9FCF3;
    img{
        height: 30px;
    }
}
.navbar-expand{ 
    .navbar-nav{
        width:100%;
        align-items: center;
    } 
}