*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'NS';
    font-weight: 600;
}
a{
    text-decoration: none;
    font-weight: 400;
}
li{
    list-style: none;
}
header{
   img{
    height: 30px;
   }
   li{
    a{
        color: black;
        font-size: 15px;
        // padding: 30px 30px !important;
        font-weight: 500;
        

        &:hover{
            color: #7FAC34 !important;
        }
    }
    
   }
    #event{
        background-color: #7FAC34;
        font-size: 15px;
    }
    button{
        font-family: 'NS';
        border: 0;
        background-color: #7FAC34;

        
    }
     i{
        font-size: 20px;
       color: white;
       line-height: 0;
    }
}
#content{
    padding-top: 100px;
    border-radius: 80px;
    max-width: 1280px;
    margin: 0 auto;
    height: 580px;
}

.bg1{
    height: 500px;
    background-image: url(../img/slide1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
}
.bg2{
    height: 500px;
    background-image: url(../img/slide2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
}
.bg3{
    height: 500px;
    background-image: url(../img/slide3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
}
.bg4{
    height: 500px;
    background-image: url(../img/slide4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
}

#ft{
    background-color: #F9FCF3;
    img{
        height: 30px;
    }
}